@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:linus;
	src:url("VNI-Linus.TTF") format("truetype");
	font-weight: normal;
}
banner{
	margin-left: 0;
}
#menu ul{
	list-style-type: none;
	
}
#menu li{
	font-family:linus;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	height:35px;
	display: inline-block;
	width: 31%;
	background-color: #0430F9;
	text-align:center;
	line-height: 33px;
	}
#menu a{
	text-decoration: none;
	color: aliceblue;
    display: block;
}
#menu a:hover{
	color: #000000;
}

#menu li:hover{
	background-color:#FFFFFF ;
	transition: 0.5s;
	transform: scale(1.2,1.2);
}
#video {
	margin: 1;
	margin-left: 1;
	display: block;
}